<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Announcement Mail Fix Plugin for OJS 3.3.x</title>
</head>

<body>

  <table>
    <tr>
      <td>Plugin Name</td>
      <td>:</td>
      <td>Announcement Mail Fix Plugin for OJS 3.3.x</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>:</td>
      <td>
        A workaround to fix bugs not sending email when an announcement is created.
        See the issue on github <a href="https://github.com/pkp/pkp-lib/issues/7213">here</a> and the discussion about
        the problem on PKP
        Forum <a href="https://forum.pkp.sfu.ca/t/announcement-mass-email-in-not-working-on-ojs-3-3-x/67472"
          rel="nofollow">here</a>
      </td>
    </tr>
    <tr>
      <td>Article</td>
      <td>:</td>
      <td>
        <a
          href="https://openjournaltheme.com/announcement-mail-fix-plugin-for-ojs-3-3-x">https://openjournaltheme.com/announcement-mail-fix-plugin-for-ojs-3-3-x</a>
      </td>
    </tr>
    <tr>
      <td>Created By</td>
      <td>:</td>
      <td>
        <a href="https://openjournaltheme.com">Open Journal Theme - OJT Team</a>
      </td>
    </tr>
    <tr>
      <td>About Us</td>
      <td>:</td>
      <td>We provide OJS Service, Themes, Plugins, Custom Service, Hosting, Conference, Click <a
          href="https://openjournaltheme.com/contact-us">here to Contact
          Us</a> </td>
    </tr>

  </table>
</body>

</html>